@media screen and (min-width: 1150px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media screen and (max-width: 1150px) {
    body {
        --nav-height: 64px;
    }

    .logo img {
        height: 4rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        padding: 1rem 1.5rem;
        background-color: var(--bg-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 18px 13px 18px 3px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-item,
    .dropdown-btn {
        height: 35px;
        line-height: 35px;
    }

    .dropdown-btn {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown.active .dropdown-content {
        display: block;
    }

    .dropdown-content {
        position: static;
        width: 100%;
        border-top: none;
    }

    .dropdown-content li:last-child {
        border-bottom: 1px solid var(--black-100);
    }

    .dropdown-btn .bx-chevron-down {
        display: none;
    }

    .dropdown-btn .bx-plus-medical {
        display: block;
        font-size: 0.9rem;
        color: var(--text-color);
    }

    .dropdown.active  .bx-plus-medical {
        color: var(--accecnt-color);
    }

    .hamburger-menu {
        display: flex;
    }
}

@media screen and (max-width: 1035px) {
    .nav-opening-hours {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .cta-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* ==================== Tablet Screen ==================== */

@media screen and (max-width: 768px) {

    body {
        --side-padding: 3rem;
    }

    .slide .slider-data {
        padding: 0;
        left: 1rem;
    }

    .slider-data p {
        width: 90%;
    }

    .swiper-nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }

    .grid-two-column,
    .gallery-wrapper {
        grid-template-columns: 1fr;
    }
    
    .testimonial-content {
        padding: 2rem;
    }

    .form-column {
        width: 90%;
    }

    /* Footer Section */

    .footer {
        grid-template-columns: 1fr;
        padding: 1.25rem;
    }

    .footer-btm {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 650px) {
    .upper-nav-bar::after {
        width: 60%;
    }

    .nav-phn,
    .signup {
        display: none;
    }
}

/* ==================== Mobile Screen ==================== */

@media screen and (max-width: 480px) {

    body {
        --side-padding: 2rem;
    }

    .upper-nav-bar::after {
        width: 60%;
    }

    .nav-email {
        display: none;
    }

    .nav-phn {
        display: inline;
        width: 100%;
        margin-left: 10px;
    }

    .nav-login {
        display: none;
    }

    .upper-nav-right {
        width: 50%;
        justify-content: space-around;
    }

    .nav-login span,
    .nav-login i {
        color: var(--bg-color);
    }

    /* Carousel Section */

    .main {
        height: 70vh;
    }

    .dark-overlay {
    background: linear-gradient(260deg, rgba(19, 24, 28, 0.25) -20%, var(--black-900) 100%);
    }

    .mob-slider-img {
        display: block;
    }

    .desktop-slider-img {
        display: none;
    }

    .slide .slider-img {
        object-position: center;
    }

    .slide .slider-img:nth-last-child(2) {
        object-position: right;
        object-fit: cover;
    }
    
    .slide .slider-data {
        padding: 0;
        left: 0.625rem;
    }

    .slider-data h3 {
        display: none;
    }

    .slider-data h2 {
        font-size: 2.5rem;
    }

    .slider-data p {
        width: 100%;
    }

    .name-group {
        flex-direction: column;
    }

    .course-section .heading h2 {
        font-size: 2.65rem;
    }

    /* Nav-item Image Banner */

    .banner-img,
    .banner-content {
        --banner-img-height: 200px;
    }

    .banner-content h1 {
        font-size: 1.5rem;
    }

    .banner-nav a {
        font-size: 0.85rem;
    }
}