@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&family=Pacifico&display=swap');

:root {
    --primary-color: #2c3e50;
    --secondary-color: #ffd43b;
    --btn-hover-color: #fab005;
    --accecnt-color: #dc143c;
    --text-color: #333333;
    --bg-color: #f5f5f5;
    --black-100: rgba(0, 0, 0, 0.1);
    --black-200: rgba(0, 0, 0, 0.2);
    --black-300: rgba(0, 0, 0, 0.3);
    --black-400: rgba(0, 0, 0, 0.4);
    --black-500: rgba(0, 0, 0, 0.5);
    --black-600: rgba(0, 0, 0, 0.6);
    --black-700: rgba(0, 0, 0, 0.7);
    --black-800: rgba(0, 0, 0, 0.8);
    --black-900: rgba(0, 0, 0, 0.9);
    --font-family: 'Inter', sans-serif;
    --nav-ff: 'Manrope', sans-serif;
    --upper-nav-ff: Arial, Helvetica, sans-serif;
    --side-padding: 5rem;
    --banner-img-height: 295px;
    --nav-height: 80px;
}

::-moz-selection {
    color: var(--bg-color);
    background: var(--primary-color);
}

::selection {
    color: var(--bg-color);
    background: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
}

/* Set core body defaults */
body {
    text-rendering: auto;
    line-height: 1.5;
    /* background-color: var(--bg-color); */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* ----------------------------------------------
        ## Global CSS Start
---------------------------------------------- */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-wrapper {
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--secondary-color);
    margin: 5px 5px 0 0;
    border-radius: 8px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.btn-secondary {
    border: none;
    background: transparent;
    color: var(--accecnt-color);
    margin-left: 0.5rem;
    transition: 0.3s all ease;
}

.btn-secondary:hover {
    text-decoration: underline;
    transition: 0.3s all ease;
}

.heading h2 {
    font-size: 2.85rem;
    font-weight: 700;
    color: var(--primary-color);
    position: relative;
    margin-bottom: 1rem;
}

.heading-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-center h2 {
    width: auto;
    text-align: center;
}

.inverse-btn {
    background: transparent;
    border: 3px solid var(--accecnt-color);
    color: var(--accecnt-color);
}

.inverse-btn:hover {
    background: var(--accecnt-color);
    color: var(--bg-color);
}

.grid-two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.grid-item {
    position: relative;
}

.img-container {
    position: relative;
    z-index: 10;
}

.img-container img {
    height: auto;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 5px;
}

.grid-three-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 3rem;
}

.grid-three-column .grid-item {
    border-radius: 10px;
    padding: 1.5rem;
}

/* ----------------------------------------------
        ## Global CSS End
---------------------------------------------- */


/* ----------------------------------------------
        ## Upper Nav bar Start
---------------------------------------------- */

.upper-nav-bar {
    padding: 0.5rem 0;
    --secondary-color: #faf100;
    background-color: var(--secondary-color);
    position: relative;
    z-index: 1;
    font-size: 0.85rem;
}

.upper-nav-bar::after {
    background: var(--accecnt-color) none repeat scroll 0 0;
    content: "";
    position: absolute;
    z-index: -1;
    width: 65%;
    height: 100%;
    top: 0;
    left: -50px;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    border-right: 5px solid #f5f5f5;
}

.upper-nav-left,
.upper-nav-left a {
    color: var(--bg-color);
}

.upper-nav-left i {
    margin-right: 5px;
}

.upper-nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.upper-nav-left,
.upper-nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.upper-nav-left {
    gap: 2.1rem;
}

.nav-btn i {
    margin-right: 0.25rem;
}

.nav-social-links i {
    font-size: 1rem;
    margin-top: 2px;
    margin-right: 0.85rem;
}

/* ----------------------------------------------
        ## Upper Nav bar End
---------------------------------------------- */

/* ----------------------------------------------
        ## Nav bar Start
---------------------------------------------- */

.navbar {
    height: var(--nav-height);
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: var(--black-100) 0px 10px 15px -3px, var(--black-500) 0px 4px 6px -2px;
    position: relative;
}

.logo img {
    height: 5rem;
    position: relative;
    left: -10px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    background-color: var(--bg-color);
    z-index: 1300;
}

.nav-item,
.dropdown-btn {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    height: var(--nav-height);
    line-height: var(--nav-height);
}

.dropdown-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.active,
.nav-item:hover,
.dropdown-btn:hover,
.dropdown-content ul li:hover .dropdown-item {
    color: var(--accecnt-color);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: var(--bg-color);
    border-top: 2px solid var(--secondary-color);
    min-width: 160px;
}

.dropdown-content li {
    list-style: none;
    padding: 1rem 0;
    white-space: nowrap;
    border-bottom: 1px solid var(--black-100);
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content li a {
    width: 100%;
    padding: 0 0.85rem;
    font-size: 0.9rem;
}

.dropdown-content li:hover {
    background-color: #fdfffc;
    border-bottom: 1px solid var(--secondary-color);
}

.dropdown-btn .bx-plus-medical {
    display: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 2.5px 0;
}

.bar:nth-child(2) {
    width: 22px;
    margin-left: 8px;
}

.bar:nth-child(3) {
    width: 15px;
    margin-left: 15px;
}

/* ----------------------------------------------
        ## Nav bar End
---------------------------------------------- */

/* ----------------------------------------------
        ## Carousel Section Start
---------------------------------------------- */

.main {
    height: 85vh;
    width: 100%;
}

.wrapper,
.slide {
    width: 100%;
    height: 100%;
}

.slide .slider-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 15%;
    position: relative;
}

.mob-slider-img {
    display: none;
}

.dark-overlay {
    background: linear-gradient(260deg, rgba(19, 24, 28, 0.25) 10%, var(--black-900) 90%);
    position: absolute;
    inset: 0;
}

.slide .slider-data {
    width: 100%;
    font-family: var(--font-family);
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: left;
    padding: 0 2rem;
}

.slider-data h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.slider-data h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.slider-data p {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 60ch;
}

.hero-content {
    background-color: var(--black-600);
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1.5rem 0 2.5rem 0;
    color: var(--bg-color);
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn.slider-btn {
    background-color: var(--accecnt-color);
    color: var(--bg-color);
    margin-right: 10px;
}

.btn.slider-btn:hover {
    background-color: #a4112e;
}

.slider-btn.inverse-btn {
    border: 3px solid var(--bg-color);
    background-color: transparent;
    color: var(--bg-color);
    padding: 0.75rem 1.5625rem;
}

.slider-btn.inverse-btn:hover {
    border: none;
    opacity: 1;
    border: 3px solid var(--accecnt-color);
    background-color: var(--accecnt-color);
}

.swiper-nav-btn {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    border: 1px solid var(--bg-color);
    opacity: 0;
    transition: all 0.4s ease;
}

.main:hover .swiper-nav-btn {
    opacity: 1;
}

.swiper-button-prev {
    left: 35px;
}

.swiper-button-next {
    right: 35px;
}

.swiper-nav-btn:hover {
    background-color: var(--accecnt-color);
    border-color: var(--accecnt-color);
}

.swiper-nav-btn::before,
.swiper-nav-btn::after {
    font-size: 20px;
    color: #f5f5f5;
}

.swiper-pagination-bullet {
    height: 0.3125rem;
    width: 1rem;
    border-radius: 3.125rem;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    background-color: var(--accecnt-color);
}

/* ----------------------------------------------
        ## Carousel Section End
---------------------------------------------- */


/* --------------------------------------------------------
        ## About Us & Academic Program Section Start
-------------------------------------------------------- */

.grid-content {
    max-width: 650px;
}

.grid-content p {
    margin: 1.5rem 0;
    line-height: 1.6;
    color: var(--text-color);
}


.sub-heading {
    display: flex;
    align-items: center;
    gap: 0.85rem;
    margin-bottom: 1rem;
}

.sub-heading h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.grid-three-column .grid-item p {
    --text-color: #6b6a6a;
    color: var(--text-color);
}

.sub-heading i {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.85rem;
}

.history {
    background-color: #e9f3ff;
}

.history i {
    background-color: #80baff;
}

.mission {
    background-color: #eee9ff;
}

.mission i {
    background-color: #9e7eff;
}

.campus {
    background-color: #ffeaf3;
}

.campus i {
    background-color: #fe7fb6;
}

/* --------------------------------------------------------
        ## About Us & Academic Program Section End
-------------------------------------------------------- */


/* ----------------------------------------------
        ## Course Section Start
---------------------------------------------- */
.course-card {
    --bg-color: #fff;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: var(--black-100) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 1rem;
}

.course-card .img-container img {
    border-radius: 8px;
}

.course-card .grid-content {
    padding-top: 1rem;
}

.course-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.course-card p {
    color: var(--black-600);
    font-size: 0.85rem;
}

/* ----------------------------------------------
        ## Course Section End
---------------------------------------------- */


/* ----------------------------------------------
        ## Notice Section Start
---------------------------------------------- */

.grid-item h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.85rem;
    font-weight: 600;
    color: var(--black-500);
}

.grid-content-wrapper {
    height: 300px;
    border: 1px solid var(--black-100);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid-content-wrapper ul {
    padding: 1rem;
    list-style: none;
    height: 280px;
    overflow-y: auto;
}

.event,
.event-date {
    display: flex;
    align-items: center;
}

.event {
    margin-bottom: 1rem;
}

.event-date {
    padding: 0.5rem 0.85rem;
    flex-direction: column;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: #80baff;
    color: var(--bg-color);
    font-weight: 600;
    margin-right: 0.85rem;
}

.event-details {
    background-color: #e9f3ff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.event-details h5,
.announcement h5 {
    font-weight: 600;
    margin-bottom: 2px;
}

.announcement {
    padding: 0.35rem;
}

.announcement h5 {
    font-size: 1.1rem;
}

.event-details a,
.announcement a {
    display: inline-flex;
    align-items: center;
    color: #80baff;
    text-transform: uppercase;
}

.event-details a i,
.announcement a i {
    font-size: 1.5rem;
    color: #80baff;
}

.announcement-wrapper ul li {
    display: inline-flex;
    margin-bottom: 1rem;
    position: relative;
}


/* ----------------------------------------------
        ## Notice Section End
---------------------------------------------- */


/* ----------------------------------------------
        ## Counter Section Start
---------------------------------------------- */

.counter-section,
.course-section {
    background-color: #f6f7fb;
}

.counter-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.25rem;
}

.counter-item {
    --bg-color: #fff;
    background-color: var(--bg-color);
    max-height: 150px;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    box-shadow: var(--black-100) 0px 4px 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    border-bottom: 5px solid #fff;
}

.counter-item:hover {
    border-bottom: 5px solid var(--primary-color);
}

.counter-item i {
    color: var(--primary-color);
    font-size: 2.85rem;
    margin-bottom: 0.5rem;
}

.counter-item h3 {
    --secondary-color: #ddd613;
    color: var(--secondary-color);
    font-size: 1.875rem;
    font-weight: 700;
}

.counter-item p {
    color: var(--accecnt-color);
    font-size: 1rem;
    font-weight: 600;
}

/* ----------------------------------------------
        ## Counter Section End
---------------------------------------------- */


/* ----------------------------------------------
        ## Testimonial Section Start
---------------------------------------------- */

.testimonial-section {
    margin-top: 1.5rem;
}

.testimonial-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 6rem;
    text-align: center;
}

.testimonial-img img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-img,
.testimonial-details .testi-message,
.testimonial-details i {
    margin-bottom: 1rem;
}

.testimonial-details i {
    color: var(--accecnt-color);
    font-size: 1.55rem;
}

.name {
    font-weight: 600;
    font-size: 1rem;
}

.job {
    font-weight: 400;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.testimonial-section .swiper-nav-btn {
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
}

.testimonial-section .swiper-nav-btn::before,
.testimonial-section .swiper-nav-btn::after {
    position: absolute;
    top: 3.5rem;
    color: var(--accecnt-color);
    font-weight: 600;
}

.testimonial-section .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    background-color: var(--black-200);
}

.testimonial-section .swiper-pagination-bullet-active {
    background-color: var(--accecnt-color);
}

/* ----------------------------------------------
        ## Testimonial Section End
---------------------------------------------- */


/* ----------------------------------------------
        ## CTA Section Start
---------------------------------------------- */

.cta-wrapper {
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.cta-wrapper .btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.cta-wrapper h2 {
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 700;
}

/* ----------------------------------------------
        ## CTA Section End
---------------------------------------------- */

/* ----------------------------------------------
        ## Enquiry Form Start
---------------------------------------------- */

.form-section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.glass-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--black-500);
    backdrop-filter: blur(10px);
}

.form-column {
    max-width: 600px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--black-700);
}

.form-logo {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    opacity: 0.95;
    z-index: -1;
    border-radius: 10px;
}

.form-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.form-heading i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black-500);
}

.form-heading i:hover {
    color: var(--accecnt-color);
}

.form-column h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 0.9375rem;
}

.name-group {
    display: flex;
    gap: 10px;
}

.name-group .form-group {
    flex: 1;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    outline: none;
}

input::placeholder {
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid var(--secondary-color);
    outline:1px solid var(--secondary-color);
}

.form-group textarea {
    resize: vertical;
    height: 7rem;
}

.form-group button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------------------------------------
        ## Enquiry Form End
---------------------------------------------- */



/* ----------------------------------------------
        ## Footer Section Start
---------------------------------------------- */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #f6f7fb;
    color: var(--text-color);
    padding: 20px var(--side-padding);
    background-image: url(../img/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.overlay::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.96;
    z-index: -1;
}

.footer-col {
    padding: 10px;
}

.logo-address img {
    max-width: 230px;
    height: auto;
    margin-bottom: 15px;
}

.social-links {
    display: flex;
}

.footer-col i {
    color: var(--accecnt-color);
}

.social-links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.social-links a i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    transition: 0.3s all ease;
}

.social-links a i:hover {
    background-color: var(--accecnt-color);
    color: var(--bg-color);
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    padding-bottom: 0.5rem;
}

.footer-col ul li i {
    margin-right: 0.3rem;
}

.footer-col ul li a,
.location {
    color: var(--black-500);
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.footer-col ul li a:hover {
    color: var(--text-color);
    text-decoration: underline;
    transition: 0.3s all ease;
}

.footer-col h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.footer-col h3::after {
    content: '';
    position: absolute;
    left: 21px;
    top: 42px;
    background: var(--secondary-color);
    width: 55px;
    height: 2px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 40px;
    background: var(--accecnt-color);
    width: 11px;
    height: 5px;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-btm {
    width: 100%;
    background-color: #e2e4ec;
    color: var(--text-color);
    text-align: center;
    padding: 0.85rem;
    font-size: 1rem;
}

.footer-btm .text-bold {
    font-weight: bold;
}

/* ----------------------------------------------
        ## Footer Section End
---------------------------------------------- */

/* ----------------------------------------------
        ## Scroll to top Section Start
---------------------------------------------- */

.scroll-to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1200;
    display: none;
    cursor: pointer;
    transition: all 0.6s ease-in;
    animation: bounce 3s infinite ease-in-out;
}

.scroll-top {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 50%;
    background-color: var(--accecnt-color);
    color: var(--bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ----------------------------------------------
        ## Scroll to top Section End
---------------------------------------------- */


/* ----------------------------------------------
        ## Nav-item Banner Styling Start
---------------------------------------------- */

.banner-wrapper {
    width: 100%;
}

.banner-img {
    height: var(--banner-img-height);
    width: 100%;
    position: relative;
}

.banner-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.banner-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black-900);
    opacity: 0.7;
}

.banner-content {
    height: var(--banner-img-height);
    width: 100%;
    position: absolute;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.2rem;

}

.banner-nav {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.banner-nav a {
    color: var(--bg-color);
}

.banner-nav a:hover {
    text-decoration: underline;
}

.banner-nav .banner-nav-prev,
.banner-nav i {
    color: rgb(119, 114, 114);
}

/* -------------------------------------------------------- 
        ## Nav-item Banner Styling End
-------------------------------------------------------- */

/* -------------------------------------------------------- 
        ## Admission Procedure & Facility Section Start 
-------------------------------------------------------- */

.site-content {
    background-color: var(--bg-color);
}

.heading {
    margin-bottom: 1.5rem;
}

.heading h3,
.item-heading h3 {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    color: var(--primary-color);
}

.item-heading h3::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--accecnt-color);
}

.item-heading h3::after {
    content: "";
    position: absolute;
    top: 105%;
    left: 15px;
    height: 3px;
    width: 150px;
    background-color: var(--secondary-color);
}

.list-items ul {
    list-style: none;
    line-height: 1.8;
}

.list-items ul li {
    display: flex;
}

.list-items i {
    position: relative;
    top: 4px;
    font-size: 1.5625rem;
}

.list-items .list {
    margin-left: 2px;
    font-size: 1rem;
}

.procedure-list a {
    color: blue;
}

.bx-chevrons-right {
    color: var(--accecnt-color);
}

.list-items {
    margin-bottom: 1rem;
}

.card-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 2.5rem;
}

.card {
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px solid var(--black-100);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card-img {
    max-height: 300px;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img,
.card-img img {
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 1rem;
}

.card-content h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.85rem;
}

.card-content p {
    font-size: 0.85rem;
    color: var(--black-500);
    margin-bottom: 0.85rem;
}

.card-content a {
    color: #9e7eff;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* -------------------------------------------------------- 
        ## Admission Procedure & Facility Section End 
-------------------------------------------------------- */


/* ---------------------------------------------- 
        ## Admission Commiittee Section Start 
---------------------------------------------- */

.admission-committee-section {
    background: url(../img/nav-item-bg.jpg);
    background-position: bottom;
}

.profile {
    --bg-color: #fff;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px var(--black-100);
}

.profile-details {
    margin-top: 1rem;
}

.profile-details h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.profile-details p {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--black-700);
}

.profile-contact {
    color: var(--black-500);
}

.profile-contact i {
    color: var(--accecnt-color);
    margin-right: 0.25rem;
}

/* ---------------------------------------------- 
        ## Admission Commiittee Section End 
---------------------------------------------- */


/* ------------------------------------------ 
        ## Contact Section Start 
------------------------------------------ */

.contact-section {
    background-color: var(--bg-color);
}

.contact-top {
    align-items: start;
}

.contact-top p {
    margin-bottom: 1rem;
}

.hours-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0.5rem 1.25rem;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.day-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.day {
    font-size: 1.25rem;
}

.time {
    color: var(--secondary-color);
    font-size: 0.85rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 300px;
    align-items: start;
    margin-top: 0.5rem;
}

.social-media i {
    padding: 0.5rem;
    border-radius: 8px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.facebook,
.instagram,
.twitter,
.youtube {
    display: flex;
    gap: 1rem;
}

.facebook a:hover,
.instagram a:hover,
.twitter a:hover,
.youtube a:hover {
    text-decoration: underline;
}

.contact-link {
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px var(--black-100);
    background-color: #e9f3ff;
}

.contact-link i {
    font-size: 1.25rem;
    height: 55px;
    width: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #80baff;
    color: #fff;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.sm-heading {
    color: var(--black-500);
    font-size: 0.85rem;
}

/* ------------------------------------------ 
        ## Contact Section End 
------------------------------------------ */


/* ------------------------------------------ 
        ## The Institute Section Start 
------------------------------------------ */

.the-institute-section .img-container img {
    border-radius: 10px;
}

.clg-about .heading h4 {
    position: relative;
}

.clg-about .heading h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: var(--accecnt-color);
    top: 100%;
    left: 0;
}

.the-institute-mid-section {
    background-image: url(../img/the-institute-bg-img.webp);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
}

.the-institute-mid-section::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    opacity: 0.812;
}

.the-institute-mid-section .heading h4 {
    font-size: 1.5rem;
    color: var(--bg-color);
}

.institute-card {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.clg-about .grid-item .institute-card p {
    color: var(--bg-color);
}

.the-institute-btm-section .grid-two-column:last-child {
    margin-top: 2.5rem;
}

/* ------------------------------------------ 
        ## The Institute Section End 
------------------------------------------ */

/* ------------------------------------------ 
        ## Message Section Start 
------------------------------------------ */

.msg-container .grid-two-column {
    align-items: start;
}

.grid-item .name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black-600);
    text-align: center;
    margin: 1rem;
}

.msg-details-wrapper {
    margin-top: 0.85rem;
}

.msg-details {
    text-align: center;
}

.msg-container .grid-content p,
.message {
    margin: 0.85rem 0;
    line-height: 1.5;
    color: var(--black-600);
}

.msg-details .role {
    margin: 0.85rem 0;
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
}

.msg-quote {
    font-size: 2.25rem;
    color: var(--accecnt-color);
}

/* ------------------------------------------ 
        ## Message Section End 
------------------------------------------ */

/* ------------------------------------------ 
        ## UG Section Start 
------------------------------------------ */

.ug-section .heading h3 {
    position: relative;
}

.ug-section .heading h3::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 48px;
    background: var(--accecnt-color);
    width: 11px;
    height: 5px;
}

.ug-section .heading h3::after {
    content: '';
    position: absolute;
    left: 21px;
    top: 50px;
    background: var(--secondary-color);
    width: 85px;
    height: 2px;
}

.ug-section .card-img {
    max-height: 250px;
}

/* ------------------------------------------ 
        ## UG Section End 
------------------------------------------ */


/* ------------------------------------------ 
        ## Photo-Gallery Section Start 
------------------------------------------ */

.photo-gallery-section,
.video-gallery-section {
    background-color: var(--bg-color);
}

.photo-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.photo-gallery image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

figcaption {
    text-align: center;
    margin-top: 2px;
    font-style: italic;
    color: var(--text-color);
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.video-gallery iframe {
    width: 100%;
    height: 250px;
}
/* ------------------------------------------ 
        ## Photo-Gallery Section End 
------------------------------------------ */