@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&family=Pacifico&display=swap');

:root {
    --primary-color: #2c3e50;
    --secondary-color: #ffd43b;
    --btn-hover-color: #fab005;
    --accecnt-color: #dc143c;
    --text-color: #333333;
    --bg-color: #f5f5f5;
    --font-family: 'Inter', sans-serif;
    --nav-ff: 'Manrope', sans-serif;
    --upper-nav-ff: Arial, Helvetica, sans-serif;
    --side-padding: 5rem;
    --banner-img-height: 295px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* background-color: var(--bg-color); */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* ========== Utility Classes Start ========== */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-wrapper {
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--secondary-color);
    margin: 5px 5px 0 0;
    border-radius: 8px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.btn-secondary {
    border: none;
    background: transparent;
    color: var(--accecnt-color);
    margin-left: 0.5rem;
}

.btn-secondary:hover {
    text-decoration: underline;
}

.heading h2 {
    font-size: 2.85rem;
    font-weight: 700;
    color: var(--primary-color);
    position: relative;
    margin-bottom: 1rem;
}

.heading-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-center h2 {
    width: auto;
    text-align: center;
}

.inverse-btn {
    background: transparent;
    border: 3px solid var(--accecnt-color);
    color: var(--accecnt-color);
}

.inverse-btn:hover {
    background: var(--accecnt-color);
    color: var(--bg-color);
}

.grid-two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.grid-item {
    position: relative;
}

.img-container {
    position: relative;
    z-index: 10;
}

.img-container img {
    height: auto;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 5px;
}

.grid-three-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 3rem;
}

.grid-three-column .grid-item {
    border-radius: 10px;
    padding: 1.5rem;
}

/* ========== Utility Classes End ========== */


/* ======================= Upper nav bar start =================== */
.upper-nav-banner {
    --secondary-color: #faf100;
    background-color: var(--secondary-color);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.upper-nav-banner .container {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.upper-nav-banner::after {
    background: var(--accecnt-color) none repeat scroll 0 0;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: calc(36% + 0px);
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    border-right: 5px solid #f5f5f5;
}

.upper-nav--row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
    /* border: 1px solid black; */
}

.upper-nav-left,
.upper-nav-right {
    position: relative;
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    /* border: 1px solid black; */
}

.upper-nav-right {
    float: right;
}

.upper-nav-left--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.4s ease
}

.email,
.email a,
.phone,
.opening-closing-time,
.login-section a {
    margin-right: 30px;
    color: var(--bg-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.42rem;
    font-size: 0.9rem;
}

.upper-nav-right--content {
    text-align: right;
    margin-top: 3px;
}

.login-section {
    display: inline-block;
    margin-right: 10px;
}

.login-section a,
.nav-social-links a i {
    color: var(--text-color);
    /* color: var(--bg-color); */
}

.nav-social-links {
    display: inline-flex;
    text-align: right;
    gap: 0.85rem;
    position: relative;
    right: 0;
}

.nav-social-links .bx:hover {
    color: var(--accecnt-color);
    /* color: var(--secondary-color); */
}

.upper-nav-banner .bx {
    font-size: 1.1rem;
}

/* ======================= Upper nav bar end =================== */

/* ======================= nav bar start =================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0 var(--side-padding);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logo img {
    height: 5.5rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    z-index: 10;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-links .nav-item:hover {
    color: var(--accecnt-color);
}

.nav-links .active {
    color: var(--accecnt-color);
}

.submenu {
    position: relative;
}

.submenu ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    display: none;
    background-color: var(--bg-color);
    background-color: var(--bg-color);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 20;
    /* border: 1px solid black; */
}

.submenu:hover ul {
    display: block;
}

.submenu ul li,
.dropdown-content>a,
.sub-dropdown>a {
    padding: 1rem;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.submenu ul li:last-child {
    border-bottom: none;
}

.submenu ul li a,
.dropdown-content>a,
.sub-dropdown>a {
    font-size: 0.9rem;
    display: inline-block;
    white-space: nowrap;
    font-weight: 400;
}

.submenu ul li:hover,
.dropdown-content:hover .sub-dropdown>a:hover {
    background-color: #fdfffc;
    border-bottom: 1px solid var(--secondary-color);
}

.submenu ul li:hover .submenu-item,
.dropdown-content:hover .submenu-item,
.sub-dropdown>a:hover {
    color: var(--accecnt-color);
}

.dropdown-content {
    position: relative;
}

.sub-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--bg-color);
}

.dropdown-content:hover .sub-dropdown {
    display: flex;
    flex-direction: column;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 3px 0;
    border-radius: 30px;
}

/* ======================= nav bar end =================== */

/* ======================= Carousel Section start =================== */

.main {
    height: 80vh;
    width: 100%;
}

.wrapper,
.slide {
    width: 100%;
    height: 100%;
}

.slide .slider-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

.slide .slider-data {
    width: 100%;
    font-family: var(--font-family);
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1.5rem;
}

.slider-data h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.slider-data p {
    font-size: 1rem;
    width: 56%;
    margin: 0 auto 1rem auto;
}

.btn.slider-btn {
    background-color: var(--accecnt-color);
    color: var(--bg-color);
}

.btn.slider-btn:hover {
    opacity: 0.8;
}

.slider-btn.inverse-btn {
    border: 3px solid var(--bg-color);
    background-color: transparent;
    color: var(--bg-color);
    padding: 0.75rem 1.5625rem;
}

.slider-btn.inverse-btn:hover {
    border: none;
    opacity: 1;
    border: 3px solid var(--accecnt-color);
    background-color: var(--accecnt-color);
}

.swiper-nav-btn {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    background-color: #faf20035;
}

.swiper-button-prev {
    left: 40px;
}

.swiper-button-next {
    right: 40px;
}

.swiper-nav-btn:hover {
    background-color: #faf20068;
}

.swiper-nav-btn::before,
.swiper-nav-btn::after {
    font-size: 20px;
    color: #f5f5f5;
}

.swiper-pagination-bullet {
    height: 5px;
    width: 16px;
    border-radius: 50px;
    opacity: 1;
    background-color: var(--bg-color);
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    background-color: var(--accecnt-color);
}

/* ======================= Carousel section end =================== */

/* ======================= About Us & Academic Program Section Start ======================= */

.grid-content {
    max-width: 650px;
}

.grid-content p {
    margin: 1.5rem 0;
    line-height: 1.6;
    color: var(--text-color);
}


.sub-heading {
    display: flex;
    align-items: center;
    gap: 0.85rem;
    margin-bottom: 1rem;
}

.sub-heading h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.grid-three-column .grid-item p {
    --text-color: #6b6a6a;
    color: var(--text-color);
}

.sub-heading i {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.85rem;
}

.history {
    background-color: #e9f3ff;
}

.history i {
    background-color: #80baff;
}

.mission {
    background-color: #eee9ff;
}

.mission i {
    background-color: #9e7eff;
}

.campus {
    background-color: #ffeaf3;
}

.campus i {
    background-color: #fe7fb6;
}

/* ======================= About Us & Academic Program Section End ======================= */



/* ======================= Couse Section Start ======================= */
.course-card {
    --bg-color: #fff;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 1rem;
}

.course-card .img-container img {
    border-radius: 8px;
}

.course-card .grid-content {
    padding-top: 1rem;
}

.course-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.course-card p {
    --text-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    font-size: 0.85rem;
}


/* ======================= Couse Section End ======================= */


/* ======================= Notice Section Start ======================= */

.grid-item h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.85rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.grid-content-wrapper {
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid-content-wrapper ul {
    padding: 1rem;
    list-style: none;
    height: 280px;
    overflow-y: auto;
}

.event,
.event-date {
    display: flex;
    align-items: center;
}

.event {
    margin-bottom: 1rem;
}

.event-date {
    padding: 0.5rem 0.85rem;
    flex-direction: column;
    border-radius: 0.5rem;
    text-transform: uppercase;
    background-color: #80baff;
    color: var(--bg-color);
    font-weight: 600;
    margin-right: 0.85rem;
}

.event-details {
    background-color: #e9f3ff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.event-details h5,
.announcement h5 {
    font-weight: 600;
    margin-bottom: 2px;
}

.announcement {
    padding: 0.35rem;
}

.announcement h5 {
    font-size: 1.1rem;
}

.event-details a,
.announcement a {
    display: inline-flex;
    align-items: center;
    color: #80baff;
    text-transform: uppercase;
}

.event-details a i,
.announcement a i {
    font-size: 1.5rem;
    color: #80baff;
}

.announcement-wrapper ul li {
    display: inline-flex;
    margin-bottom: 1rem;
    position: relative;
}


/* ======================= Notice Section Start ======================= */


/* ======================= Counter Section Start ======================= */

.counter-section,
.course-section {
    background-color: #f6f7fb;
}

.counter-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.25rem;
}

.counter-item {
    --bg-color: #fff;
    background-color: var(--bg-color);
    max-height: 150px;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    border-bottom: 5px solid #fff;
}

.counter-item:hover {
    border-bottom: 5px solid var(--primary-color);
}

.counter-item i {
    color: var(--primary-color);
    font-size: 2.85rem;
    margin-bottom: 0.5rem;
}

.counter-item h3 {
    --secondary-color: #ddd613;
    color: var(--secondary-color);
    font-size: 1.875rem;
    font-weight: 700;
}

.counter-item p {
    color: var(--accecnt-color);
    font-size: 1rem;
    font-weight: 600;
}

/* ======================= Counter Section End ======================= */


/* ======================= Testimonial Section Start ======================= */

.testimonial-section {
    margin-top: 1.5rem;
}

.testimonial-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 6rem;
    text-align: center;
}

.testimonial-img img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-img,
.testimonial-details .testi-message,
.testimonial-details i {
    margin-bottom: 1rem;
}

.testimonial-details i {
    color: var(--accecnt-color);
    font-size: 1.55rem;
}

.name {
    font-weight: 600;
    font-size: 1rem;
}

.job {
    font-weight: 400;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.testimonial-section .swiper-nav-btn {
    background-color: transparent;
}

.testimonial-section .swiper-nav-btn::before,
.testimonial-section .swiper-nav-btn::after {
    position: absolute;
    top: 3.5rem;
    color: var(--accecnt-color);
    font-weight: 600;
}

/* ======================= Testimonial Section End ======================= */


/* ======================= cta section start ======================= */

.cta-wrapper {
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.cta-wrapper .btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.cta-wrapper h2 {
    color: var(--bg-color);
    font-size: 1.5rem;
    font-weight: 700;
}

/* ======================= cta section end ======================= */

/* ======================= Enquiry Form Start ======================= */

.form-section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.glass-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.form-column {
    max-width: 600px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.form-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.form-heading i {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.form-heading i:hover {
    color: var(--accecnt-color);
}

.form-column h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 0.9375rem;
}

.name-group {
    display: flex;
    gap: 10px;
}

.name-group .form-group {
    flex: 1;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid var(--secondary-color);
}

.form-group textarea {
    resize: vertical;
    height: 7rem;
}

.form-group button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ======================= Enquiry Form End ======================= */



/* ======================= Footer section start =================== */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #f6f7fb;
    color: var(--text-color);
    padding: 20px var(--side-padding);
}

.footer-col {
    padding: 10px;
}

.logo-address img {
    max-width: 230px;
    height: auto;
    margin-bottom: 15px;
}

.social-links {
    display: flex;
}

.footer-col i {
    color: var(--accecnt-color);
}

.social-links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.social-links a i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    transition: 0.3s all linear;
}

.social-links a i:hover {
    background-color: var(--accecnt-color);
    color: var(--bg-color);
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    padding-bottom: 0.5rem;
}

.footer-col ul li i {
    margin-right: 0.3rem;
}

.footer-col ul li a,
.location {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.3rem;
    font-size: 1rem;
}

.footer-col ul li a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.footer-col h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.footer-col h3::after {
    content: '';
    position: absolute;
    left: 21px;
    top: 42px;
    background: var(--secondary-color);
    width: 55px;
    height: 2px;
}

.footer-col h3::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 40px;
    background: var(--accecnt-color);
    width: 11px;
    height: 5px;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-btm {
    width: 100%;
    background-color: #e2e4ec;
    color: var(--text-color);
    text-align: center;
    padding: 0.85rem;
    font-size: 1rem;
}

.footer-btm .text-bold {
    font-weight: bold;
}

/* ======================= Footer section end =================== */



/* ======================= Nav-item Banner Styling Start =================== */

.banner-wrapper {
    width: 100%;
}

.banner-img {
    height: var(--banner-img-height);
    width: 100%;
    position: relative;
    /* border: 1px solid black; */
}

.banner-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.banner-content {
    height: var(--banner-img-height);
    width: 100%;
    position: absolute;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.banner-content h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.2rem;

}

.banner-nav {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.banner-nav a {
    color: var(--bg-color);
}

.banner-nav a:hover {
    text-decoration: underline;
}

.banner-nav .banner-nav-prev,
.banner-nav i {
    color: rgb(119, 114, 114);
}

/* ==================== Admission Procedure & Facility Section Start ==================== */

.site-content {
    background-color: var(--bg-color);
}

.heading {
    margin-bottom: 1.5rem;
}

.heading h3,
.item-heading h3 {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    color: var(--primary-color);
}

.item-heading h3::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--accecnt-color);
}

.item-heading h3::after {
    content: "";
    position: absolute;
    top: 105%;
    left: 15px;
    height: 3px;
    width: 150px;
    background-color: var(--secondary-color);
}

.list-items ul {
    list-style: none;
    line-height: 1.8;
}

.list-items ul li {
    display: flex;
}

.list-items i {
    position: relative;
    top: 4px;
    font-size: 1.5625rem;
}

.list-items .list {
    margin-left: 2px;
    font-size: 1rem;
}

.procedure-list a {
    color: blue;
}

.bx-chevrons-right {
    color: var(--accecnt-color);
}

.list-items {
    margin-bottom: 1rem;
}

.card-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 2.5rem;
}

.card {
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card-img {
    max-height: 300px;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img,
.card-img img {
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 1rem;
}

.card-content h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.85rem;
}

.card-content p {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.85rem;
}

/* ==================== Admission Procedure & Facility Section End ==================== */


/* =============== Admission Commiittee Section Start =============== */
.admission-committee-section {
    background: url(../img/nav-item-bg.jpg);
    background-position: bottom;
}

.profile {
    --bg-color: #fff;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
    margin-top: 1rem;
}

.profile-details h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.profile-details p {
    --text-color: rgba(0, 0, 0, 0.7);
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.profile-contact {
    --text-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
}

.profile-contact i {
    color: var(--accecnt-color);
    margin-right: 0.25rem;
}

/* =============== Admission Commiittee Section End =============== */